main > ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 5vw;
}

.list-review {
    height: 20vw;
    width: 20vw;
    padding: 5px;
    border: 1px solid red;
}

.list-review > img {
    max-width: 20vw;
    max-height: 20vw;
}
