.reviews-filter-but {
    position: relative;
    left: calc(50% - 45px);
    border-radius: 10px;
    background-color: rgba(9, 255, 0, 0.825);
    border: 2px solid white;
    color: black;
    font-size: 1.2em;
}

@media (max-width: 799px) {
    main > ul {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: nowrap;
    }

    .list-review {
        height: 50vw;
        width: 50vw;
        padding: 3px;
        margin: 3vw;
        border: 1px solid red;
        text-align: center;
    }

    .list-review > img {
        max-width: 40vw;
        max-height: 30vw;
    }

    .reviews-filter-but {
        height: 30px;
        width: 90px;
    }
}

@media (min-width: 800px) and (max-width: 1199px) {
    main > ul {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    .list-review {
        height: 30vw;
        width: 30vw;
        padding: 5px;
        margin: 3vw;
        border: 1px solid red;
        text-align: center;
    }

    .list-review > img {
        max-width: 27vw;
        max-height: 20vw;
    }

    .reviews-filter-but {
        height: 40px;
        width: 120px;
        font-size: 1.4rem;
    }
}

@media (min-width: 1200px) {
    main > ul {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
        gap: 5vw;
    }

    .list-review {
        height: 20vw;
        width: 20vw;
        padding: 5px;
        border: 1px solid red;
        text-align: center;
    }

    .list-review > img {
        max-width: 20vw;
        max-height: 20vw;
    }

    .reviews-filter-but {
        height: 40px;
        width: 120px;
        margin-bottom: 15px;
        font-size: 1.6rem;
    }
}
