#single-review {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
    text-align: center;
}

#review {
    margin-bottom: 2vh;
}

#review > img {
    max-width: 90%;
}

.review-owner {
    font-style: italic;
}

.score {
    font-weight: 600;
}

@media (max-width: 799px) {
    #review > h2 {
        font-size: 1.2em;
    }

    #review > p,
    .score {
        font-size: 0.9em;
    }

    .scorebar {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        gap: 3vh;
        padding: 15px;
    }

    .scorebar > * {
        display: inline-block;
    }

    .pos,
    .neg {
        width: 3.5vh;
        height: 3.5vh;
        font-size: 1.3em;
        text-align: center;
    }

    .pos {
        background-color: rgba(10, 134, 10, 0.711);
    }
    .neg {
        background-color: rgba(255, 37, 37, 0.85);
    }
}

@media (min-width: 800px) and (max-width: 1199px) {
    #review > h2 {
        font-size: 2em;
    }

    #review > p,
    .score {
        font-size: 1.3em;
    }
}

@media (min-width: 1200px) {
    #review > p,
    .score {
        font-size: 1.4em;
    }
}
